---
permalink: /about/
picture: /assets/img/about/cat1.jpg
title: family-owned ragdoll breeder
---

<section id="about">
  <div class="container">
    <hr class="hr-dark" />
    {% include section-heading.html heading="about us" %}
    <div class="row align-items-center mt-5 mb-6">
      <div class="col-md text-center">
        <h3 class="section-heading">{{ page.title }}</h3>
        <h3 class="section-subheading text-muted">
          KTDolls is a family-owned cattery breeding pedigreed Ragdoll kittens.
          Established in 2017, we are located in Katy, Texas, 30 miles west of
          downtown Houston.
        </h3>
      </div>
      <div class="col-md text-center">
        <img
          src="{{ site.baseurl }}{{ page.picture }}"
          alt=""
          class="img-fluid img-default"
        />
      </div>
    </div>
    <div class="row align-items-center mt-6">
      <div class="col-md text-center">
        <h3 class="section-heading">healthy and social kittens</h3>
        <h3 class="section-subheading text-muted">
          All our litters are registered with TICA. Kittens go to their fur-ever
          homes at 12 weeks of age pre-spoiled, de-wormed and given two rounds
          of kitten vaccines. They are micro-chipped and have a health guarantee
          for up to 1 year.
        </h3>
      </div>
    </div>
    <div class="row align-items-center mt-6">
      <div class="col-md text-center">
        <img
          src="{{ site.baseurl }}/assets/img/about/cat2.jpg"
          alt=""
          class="img-fluid img-default"
        />
      </div>
      <div class="col text-center">
        <h3 class="section-heading">fur-ever friend</h3>
        <h3 class="section-subheading text-muted">
          Check out our available ragdoll kittens to find your fur-ever friend.
        </h3>
        <a
          href={{ "/#available-kittens" | relative_url }}
          class="btn btn-xl btn-default"
          >available kittens</a
        >
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    {% include section-heading.html heading="queens and kings" %}
    <div class="row">
      {% for cat in site.data.queens-and-kings %}
      <div class="col-md-4">
        <div class="team-member">
          <h4>{{ cat.name }}</h4>
          <img
            src="{{ site.baseurl }}/assets/img/queens-and-kings/{{ cat.img }}"
            class="img-responsive img-default"
            alt=""
          />
          <p class="text-muted">{{ cat.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
