---
permalink: '/fur-ever-homes/'
title: Fur-ever Homes
page-body: Meet our families!
gallery:
  - path: '/assets/img/fur-ever-homes/gabriel.webp'
    title: Gabriel
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/colton.webp'
    title: Colton
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/abigail-and-grant.webp'
    title: Abigail and Grant
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/joseph.webp'
    title: Joseph
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/dane.webp'
    title: Dane
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/jackson-and-xena.webp'
    title: Jackson and Xena
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/sealy.webp'
    title: Sealy
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/frisco.webp'
    title: Frisco
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/dallas.webp'
    title: Dallas
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/katy-and-tara.webp'
    title: Katy and Tara
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/houston.webp'
    title: Houston
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/kylie.webp'
    title: Kylie
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/sassy-and-indiana.webp'
    title: Sassy and Indiana
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/boston.webp'
    title: Boston
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/mocha.webp'
    title: Mocha
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/sven.webp'
    title: Sven
    subtitle: Warren, RI
  - path: '/assets/img/fur-ever-homes/ryder.webp'
    title: Ryder
    subtitle: Cypress, TX
  - path: '/assets/img/fur-ever-homes/brianna.webp'
    title: Brianna
    subtitle: Baytown, TX
  - path: '/assets/img/fur-ever-homes/ella.webp'
    title: Ella
    subtitle: Montgomery, TX
  - path: '/assets/img/fur-ever-homes/laura.webp'
    title: Laura
    subtitle: Katy, TX
  - path: '/assets/img/fur-ever-homes/owen.webp'
    title: Owen
    subtitle: Schertz, TX
  - path: '/assets/img/fur-ever-homes/silas.webp'
    title: Silas
    subtitle: Ballinger, TX moved to Alaska
  - path: '/assets/img/fur-ever-homes/tina.webp'
    title: Tina
    subtitle: Beaumont, TX
  - path: '/assets/img/fur-ever-homes/gail.webp'
    title: Gail
    subtitle: Houston, TX
  - path: '/assets/img/fur-ever-homes/hans.webp'
    title: Hans
    subtitle: Laredo, TX
  - path: '/assets/img/fur-ever-homes/olaf.webp'
    title: Olaf
    subtitle: Rosharon, TX
  - path: '/assets/img/fur-ever-homes/kristoff.webp'
    title: Kristoff
    subtitle: ''
  - path: '/assets/img/fur-ever-homes/bryan-and-vanessa.webp'
    title: Bryan and Vanessa
    subtitle: Austin, TX
  - path: '/assets/img/fur-ever-homes/todd-and-leslie.webp'
    title: Todd and Leslie
    subtitle: Houston, TX
  - path: '/assets/img/fur-ever-homes/keith-and-kimberly.webp'
    title: Keith and Kimberly
    subtitle: Houston, TX
  - path: '/assets/img/fur-ever-homes/cloe-and-patricia.webp'
    title: Cloe and Patricia
    subtitle: Kema, TX
  - path: '/assets/img/fur-ever-homes/glenda-and-joyce.webp'
    title: Glenda and Joyce
    subtitle: Rockport, TX
  - path: '/assets/img/fur-ever-homes/ray-and-kai.webp'
    title: Ray and Kai
    subtitle: Ray and Kai now live with their kids in Weston Lakes, TX.
  - path: '/assets/img/fur-ever-homes/dayton-and-mike.webp'
    title: Dayton and Mike
    subtitle: Dayton now lives with Mike and Family in Houston, TX.
  - path: '/assets/img/fur-ever-homes/idalia-and-her-brother.webp'
    title: Idalia and her brother
    subtitle: Idalia lives with her new brother in Corpus Christi, TX.
  - path: '/assets/img/fur-ever-homes/binks-padme-and-josie.webp'
    title: Binks, Padme and Josie
    subtitle: Binks and Padme now live with Josie in Cat Springs, Texas.
  - path: '/assets/img/fur-ever-homes/anakin-malla-and-brian.webp'
    title: Anakin, Malla and Brian
    subtitle:
      "Anakin and Malla (Beaux and Cloe) now live in Indiana with their furever
      mom and dad; Wendy and Brian. \nYou can follow her on Instagram @molly_chloe_beaux_dixie."
  - path: '/assets/img/fur-ever-homes/rose-and-ben.webp'
    title: Rose and Ben
    subtitle: Rose now lives with her dad Ben in Las Vegas, NV.
  - path: '/assets/img/fur-ever-homes/shmi-and-her-parents.webp'
    title: Shmi and her parents
    subtitle: Shmi now lives with her mommy and daddy in Tampa, Florida.
  - path: '/assets/img/fur-ever-homes/zaya-pickle.webp'
    title: Zaya Pickle
    subtitle:
      Zaya Pickle now lives with her older brother and sister kitties in Morristown,
      IN. You can follow her on Instagram @molly_chloe_beaux_dixie.
  - path: '/assets/img/fur-ever-homes/kaden.webp'
    title: Kaden
    subtitle:
      Kaden now lives with his big kitty brother in Providence, RI. You can
      follow him on Instagram @ragdolls_bristol_teddy.
  - path: '/assets/img/fur-ever-homes/skyla-and-chris.webp'
    title: Skyla and Chris
    subtitle: Skyla and Chris have gone to Dallas, TX to join TexasDollhouseRagdoll.com.
  - path: '/assets/img/fur-ever-homes/amanda.webp'
    title: Amanda
    subtitle: Amanda now lives with her new family in Sugar Land, TX.
  - path: '/assets/img/fur-ever-homes/jack.webp'
    title: Jack
    subtitle:
      Jack now lives in Pearland, TX with his furever family. You can follow
      him on Instagram @bbenjithecat.
  - path: '/assets/img/fur-ever-homes/libby.webp'
    title: Libby
    subtitle: Libby now lives in Baltimore, MD with her furever mom.
---

<section>
  <div class="container">
    <hr class="hr-dark" />

    <div class="row">
      <div class="col text-center">
        <h2 class="section-heading below-hr">{{ page.title }}</h2>
        <p class="section-body">{{ page.page-body }}</p>
      </div>
    </div>

    <div id="portfolio" class="mt-5">
      <div class="gallery">
        {% for image in page.gallery %}
        <div class="portfolio-item">
          <a
            href="#{{ forloop.index }}"
            class="portfolio-link"
            data-toggle="modal"
          >
            <div class="portfolio-hover"></div>
            <img src="{{ image.path }}" alt="{{ image.title }}" />
          </a>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- Fur-ever Homes Modals -->
{% for image in page.gallery %}
<div
  class="portfolio-modal modal"
  id="{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="modal-body">
          <div>
            <div class="family-heading">
              <h2>{{ image.title }}</h2>
              <div class="flex-center">
                {% if forloop.first %}
                <button
                  type="button"
                  class="btn btn-custom"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#{{ forloop.length }}"
                >
                  <i class="fa fa-arrow-left"></i>
                </button>
                {% else %}
                <button
                  type="button"
                  class="btn btn-custom"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#{{ forloop.index | minus: 1 }}"
                >
                  <i class="fa fa-arrow-left"></i>
                </button>
                {% endif %}

                <h3>{{ forloop.index }}/{{ forloop.length }}</h3>
                {% if forloop.last %}
                <button
                  type="button"
                  class="btn btn-custom"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#1"
                >
                  <i class="fa fa-arrow-right"></i>
                </button>
                {% else %}
                <button
                  type="button"
                  class="btn btn-custom"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#{{ forloop.index | plus: 1 }}"
                >
                  <i class="fa fa-arrow-right"></i>
                </button>
                {% endif %}
              </div>
            </div>
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
          </div>
          <hr class="hr-dark my-4" />
          <div class="flex-center">
            <img
              src="{{ image.path }}"
              class="img-fluid"
              alt="{{image.title }}"
            />
          </div>
          <div class="modal-nav-mobile flex-center px-2">
            {% if forloop.first %}
            <button
              type="button"
              class="btn btn-custom"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#{{ forloop.length }}"
            >
              <i class="fa fa-arrow-left"></i>
            </button>
            {% else %}
            <button
              type="button"
              class="btn btn-custom"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#{{ forloop.index | minus: 1 }}"
            >
              <i class="fa fa-arrow-left"></i>
            </button>
            {% endif %}
            <h4 class="family-heading-text-mobile">{{ image.title }}</h4>
            {% if forloop.last %}
            <button
              type="button"
              class="btn btn-custom"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#1"
            >
              <i class="fa fa-arrow-right"></i>
            </button>
            {% else %}
            <button
              type="button"
              class="btn btn-custom"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#{{ forloop.index | plus: 1 }}"
            >
              <i class="fa fa-arrow-right"></i>
            </button>
            {% endif %}
          </div>
          <h3 class="family-caption my-0 px-4 pb-5">{{ image.subtitle }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
