---
permalink: "/fur-ever-homes/"
title: Fur-ever Homes | KTDolls
page-title: FUR-EVER HOMES
page-body: Meet our families!
gallery:
- path: "/uploads/2021/20210515_111751-1.jpg"
  title: Owen
  subtitle: ''
- path: "/uploads/2021/20210514_190716-1.jpg"
  title: Silas
  subtitle: ''
- path: "/uploads/2021/20210514_110544-1.jpg"
  title: Tina
  subtitle: ''
- path: "/uploads/2021/20210513_152028-1.jpg"
  title: Gail
  subtitle: ''
- path: "/uploads/2021/20210508_191644-1.jpg"
  title: Hans
  subtitle: ''
- path: "/uploads/2021/20210508_111616-1.jpg"
  title: Olaf
  subtitle: ''
- path: "/uploads/2021/20210508_102900-1.jpg"
  title: Kristoff
  subtitle: ''
- path: "/assets/img/fur-ever-homes/5.webp"
  title: Bryan & Vanessa
  subtitle: ''
- path: "/assets/img/fur-ever-homes/1.webp"
  title: Todd & Leslie
  subtitle: ''
- path: "/assets/img/fur-ever-homes/2.webp"
  title: Keith & Kimberly
  subtitle: ''
- path: "/assets/img/fur-ever-homes/3.webp"
  title: Cloe & Patricia
  subtitle: ''
- path: "/assets/img/fur-ever-homes/4.webp"
  title: Glenda & Joyce
  subtitle: ''
- path: "/assets/img/fur-ever-homes/6.webp"
  title: Ray & Kai
  subtitle: Ray & Kai now live with their kids in Weston Lakes, TX.
- path: "/assets/img/fur-ever-homes/7.webp"
  title: Dayton & Mike
  subtitle: Dayton now lives with Mike & Family in Houston, TX.
- path: "/assets/img/fur-ever-homes/8.webp"
  title: Idalia & her brother
  subtitle: Idalia lives with her new brother in Corpus Christi, TX.
- path: "/assets/img/fur-ever-homes/11.webp"
  title: Binks, Padme & Josie
  subtitle: Binks & Padme now live with Josie in Cat Springs, Texas.
- path: "/assets/img/fur-ever-homes/9.webp"
  title: Anakin, Malla & Brian
  subtitle: "Anakin & Malla (Beaux & Cloe) now live in Indiana with their furever
    mom & dad; Wendy & Brian. \nYou can follow her on Instagram @molly_chloe_beaux_dixie."
- path: "/assets/img/fur-ever-homes/12.webp"
  title: Rose & Ben
  subtitle: Rose now lives with her dad Ben in Las Vegas, NV.
- path: "/assets/img/fur-ever-homes/10.webp"
  title: Schmi & her parents
  subtitle: Shmi now lives with her mommy & daddy in Tampa, Florida.
- path: "/assets/img/fur-ever-homes/13.webp"
  title: Zaya Pickle
  subtitle: Zaya Pickle now lives with her older brother and sister kitties in Morristown,
    IN. You can follow her on Instagram @molly_chloe_beaux_dixie.
- path: "/assets/img/fur-ever-homes/14.webp"
  title: Kaden
  subtitle: Kaden now lives with his big kitty brother in Providence, RI. You can
    follow him on Instagram @ragdolls_bristol_teddy.
- path: "/assets/img/fur-ever-homes/17.webp"
  title: Skyla & Chris
  subtitle: Skyla & Chris have gone to Dallas, TX to join TexasDollhouseRagdoll.com.
- path: "/assets/img/fur-ever-homes/16.webp"
  title: Amanda
  subtitle: Amanda now lives with her new family in Sugar Land, TX.
- path: "/assets/img/fur-ever-homes/15.webp"
  title: Jack
  subtitle: Jack now lives in Pearland, TX with his furever family. You can follow
    him on Instagram @bbenjithecat.
- path: "/assets/img/fur-ever-homes/18.webp"
  title: Libby
  subtitle: Libby now lives in Baltimore, MD with her furever mom.

---
<section>
  <div class="container">
    <hr class="hr-dark" />

    <div class="row">
      <div class="col text-center">
        <h2 class="section-heading bold below-hr">{{ page.page-title }}</h2>
        <p class="section-body">{{ page.page-body }}</p>
      </div>
    </div>

    <div id="portfolio" class="mt-5">
      <div class="gallery">
        {% for image in page.gallery %}
        <div class="portfolio-item">
          <a
            href="#{{ forloop.index }}"
            class="portfolio-link"
            data-toggle="modal"
          >
            <div class="portfolio-hover"></div>
            <img
              src="{{ site.baseurl }}{{ image.path }}"
              alt="{{ image.title }}"
            />
          </a>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- Fur-ever Homes Modals -->
{% for image in page.gallery %}
<div
  class="portfolio-modal modal"
  id="{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="modal-body">
          <div>
            <div class="family-heading">
              <h2>{{ image.title }}</h2>
              <div class="flex-center">
                {% if forloop.first %}
                <button
                  type="button"
                  class="btn btn-custom"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#{{ forloop.length }}"
                >
                  <i class="fa fa-arrow-left"></i>
                </button>
                {% else %}
                <button
                  type="button"
                  class="btn btn-custom"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#{{ forloop.index | minus: 1 }}"
                >
                  <i class="fa fa-arrow-left"></i>
                </button>
                {% endif %}

                <h3>{{ forloop.index }}/{{ forloop.length }}</h3>
                {% if forloop.last %}
                <button
                  type="button"
                  class="btn btn-custom"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#1"
                >
                  <i class="fa fa-arrow-right"></i>
                </button>
                {% else %}
                <button
                  type="button"
                  class="btn btn-custom"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#{{ forloop.index | plus: 1 }}"
                >
                  <i class="fa fa-arrow-right"></i>
                </button>
                {% endif %}
              </div>
            </div>
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
          </div>
          <hr class="hr-dark my-4" />
          <div class="flex-center">
            <img
              src="{{ site.baseurl }}{{ image.path }}"
              class="img-fluid"
              alt="{{image.title }}"
            />
          </div>
          <div class="modal-nav-mobile flex-center px-2">
            {% if forloop.first %}
            <button
              type="button"
              class="btn btn-custom"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#{{ forloop.length }}"
            >
              <i class="fa fa-arrow-left"></i>
            </button>
            {% else %}
            <button
              type="button"
              class="btn btn-custom"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#{{ forloop.index | minus: 1 }}"
            >
              <i class="fa fa-arrow-left"></i>
            </button>
            {% endif %}
            <h4 class="family-heading-text-mobile">{{ image.title }}</h4>
            {% if forloop.last %}
            <button
              type="button"
              class="btn btn-custom"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#1"
            >
              <i class="fa fa-arrow-right"></i>
            </button>
            {% else %}
            <button
              type="button"
              class="btn btn-custom"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#{{ forloop.index | plus: 1 }}"
            >
              <i class="fa fa-arrow-right"></i>
            </button>
            {% endif %}
          </div>
          <h3 class="family-subtitle caption my-0 px-4 pb-5">
            {{ image.subtitle }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}