---
permalink: '/past-litters/'
title: Past Litters
litters:
  - title: 'Homeward Bound 2021: Bella x Alex'
    gallery:
      - image: '/assets/img/past-litters/homeward-bound-2021/mocha.webp'
        description: 'Mocha: Blue Point Mink'
      - image: '/assets/img/past-litters/homeward-bound-2021/indiana-boston-and-kylie.webp'
        description:
          'Indiana: Blue Point, Boston: Blue Point/Bicolor and Kylie: Blue Point
          Mink/Bicolor'
  - title: 'SNOWVID 2021: Bella and Glenn'
    gallery:
      - image: '/assets/img/past-litters/snowvid-2021/olaf.webp'
        description: 'Olaf: Male Seal Bicolor'
      - image: '/assets/img/past-litters/snowvid-2021/kristoff.webp'
        description: 'Kristoff: Male Blue Colorpoint'
      - image: '/assets/img/past-litters/snowvid-2021/sven.webp'
        description: 'Sven: Male Seal Colorpoint'
      - image: '/assets/img/past-litters/snowvid-2021/hans.webp'
        description: 'Hans: Male Seal Colorpoint'
  - title: 'CALGARY OR BUST 2021: Patience and Glenn'
    gallery:
      - image: '/assets/img/past-litters/calgary-or-bust-2021/ryder.webp'
        description: 'Ryder: Male Blue Colorpoint Mink'
      - image: '/assets/img/past-litters/calgary-or-bust-2021/owen.webp'
        description: 'Owen: Male Seal Colorpoint'
      - image: '/assets/img/past-litters/calgary-or-bust-2021/silas.webp'
        description: 'Silas: Male Seal Colorpoint'
      - image: '/assets/img/past-litters/calgary-or-bust-2021/gail.webp'
        description: 'Gail: Female Blue Colorpoint Mink'
      - image: '/assets/img/past-litters/calgary-or-bust-2021/brianna.webp'
        description: 'Brianna: Female Blue Colorpoint'
      - image: '/assets/img/past-litters/calgary-or-bust-2021/tina.webp'
        description: 'Tina: Female Seal Colorpoint'
      - image: '/assets/img/past-litters/calgary-or-bust-2021/laura.webp'
        description: 'Laura: Female Blue Colorpoint'
      - image: '/assets/img/past-litters/calgary-or-bust-2021/ella.webp'
        description: 'Ella: Female Seal Colorpoint'
  - title: 'WEDDED BLISS 2020: Patience and Glenn'
    gallery:
      - image: '/assets/img/past-litters/wedded-bliss-2020/zaya.webp'
        description: 'Zaya: Female Seal Colorpoint'
      - image: '/assets/img/past-litters/wedded-bliss-2020/chris.webp'
        description: 'Chris: Male Blue Colorpoint Mink'
      - image: '/assets/img/past-litters/wedded-bliss-2020/amanda.webp'
        description: 'Amanda: Female Blue Colorpoint Mink'
      - image: '/assets/img/past-litters/wedded-bliss-2020/kaden.webp'
        description: 'Kaden: Male Seal Colorpoint Mink'
      - image: '/assets/img/past-litters/wedded-bliss-2020/alex.webp'
        description: 'Alex: Male Blue Colorpoint Mink'
      - image: '/assets/img/past-litters/wedded-bliss-2020/skyla.webp'
        description: 'Skyla: Female Blue Colorpoint Mink'
      - image: '/assets/img/past-litters/wedded-bliss-2020/libby.webp'
        description: 'Libby: Female Seal Colorpoint Mink'
      - image: '/assets/img/past-litters/wedded-bliss-2020/jack.webp'
        description: 'Jack: Male Seal Colorpoint'
  - title: 'THE JEDI 2020: Patience and Glenn'
    gallery:
      - image: '/assets/img/past-litters/the-jedi-2020/binks.webp'
        description: 'Binks: Male Seal Colorpoint'
      - image: '/assets/img/past-litters/the-jedi-2020/shmi.webp'
        description: 'Shmi: Female Seal Colorpoint Mink'
      - image: '/assets/img/past-litters/the-jedi-2020/anakin.webp'
        description: 'Anakin: Male Blue Colorpoint Mink'
      - image: '/assets/img/past-litters/the-jedi-2020/malla.webp'
        description: 'Malla: Female Seal Colorpoint'
      - image: '/assets/img/past-litters/the-jedi-2020/rose.webp'
        description: 'Rose: Female Blue Colorpoint'
      - image: '/assets/img/past-litters/the-jedi-2020/leia.webp'
        description: 'Leia: Female Seal Colorpoint Mink'
      - image: '/assets/img/past-litters/the-jedi-2020/padme.webp'
        description: 'Padme: Female Seal Colorpoint Mink'
  - title: 'SUMMER 2019 LITTER: Patience and Glenn'
    gallery:
      - image: '/assets/img/past-litters/summer-2019/ray.webp'
        description: 'Ray: Male Blue Colorpoint Mink'
      - image: '/assets/img/past-litters/summer-2019/kai.webp'
        description: 'Kai: Female Seal Colorpoint Mink'
      - image: '/assets/img/past-litters/summer-2019/kyra.webp'
        description: 'Kyra: Female Blue Colorpoint'
      - image: '/assets/img/past-litters/summer-2019/dayton.webp'
        description: 'Dayton: Male Blue Colorpoint'
      - image: '/assets/img/past-litters/summer-2019/summer.webp'
        description: 'Summer: Female Blue Colorpoint Mink'
      - image: '/assets/img/past-litters/summer-2019/beckett.webp'
        description: 'Beckett: Male Seal Colorpoint'
      - image: '/assets/img/past-litters/summer-2019/idalia.webp'
        description: 'Idalia: Female Seal Colorpoint'
  - title: 'FALL 2018 LITTER: Patience and Glenn'
    gallery:
      - image: '/assets/img/past-litters/fall-2018/glenda.webp'
        description: 'Glenda: Female Seal Colorpoint'
      - image: '/assets/img/past-litters/fall-2018/cloe.webp'
        description: 'Cloe: Female Blue Colorpoint Mink'
      - image: '/assets/img/past-litters/fall-2018/todd.webp'
        description: 'Todd: Male Seal Colorpoint'
      - image: '/assets/img/past-litters/fall-2018/keith.webp'
        description: 'Keith: Male Seal Colorpoint'
      - image: '/assets/img/past-litters/fall-2018/luke.webp'
        description: 'Luke: Male Seal Colorpoint Mink'
      - image: '/assets/img/past-litters/fall-2018/bryan.webp'
        description: 'Bryan: Male Blue Colorpoint Mink'
---

<section id="past-litters">
  <div class="container">
    <hr class="hr-dark" />

    <div class="row">
      <div class="col text-center">
        <h2 class="section-heading below-hr">{{ page.title }}</h2>
        <p class="section-body">Click litter title to jump to photo gallery.</p>
      </div>
    </div>

    {% for litter in page.litters %}
    <div id="{{ litter.title | slugify }}" class="litter-section row">
      <div class="col text-center">
        <a href="#{{ litter.title | slugify }}">
          <h3 class="litter-title">{{ litter.title }}</h3>
        </a>
      </div>
    </div>

    <!--  -->

    <div
      id="{{ litter.title | slugify }}-carousel"
      class="carousel slide mx-auto"
      data-ride="carousel"
    >
      <div class="carousel-inner text-center">
        {% for image in litter.gallery %} {% if forloop.first %}
        <div class="carousel-item active">
          <img
            src="{{ image.image }}"
            alt="{{ image.description }}"
            class="img-fluid"
          />
          <div class="carousel-caption">
            <h3 class="mb-0">{{ image.description }}</h3>
          </div>
        </div>
        {% else %}
        <div class="carousel-item">
          <img
            src="{{ image.image }}"
            alt="{{ image.description }}"
            class="img-fluid"
          />
          <div class="carousel-caption">
            <h3 class="mb-0">{{ image.description }}</h3>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
      <a
        class="carousel-control-prev"
        href="#{{ litter.title | slugify }}-carousel"
        role="button"
        data-slide="prev"
        ><div>
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </div>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#{{ litter.title | slugify }}-carousel"
        role="button"
        data-slide="next"
        ><div>
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </div>
        <span class="sr-only">Next</span>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
