---
permalink: '/'
layout: home
heading: Family-owned cattery from Katy, Texas.
subheading: Pedigreed Traditional and Mink Ragdoll kittens for sale.
bg-img: 'https://images.unsplash.com/photo-1595252849939-1ec8070a354a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80'
available-kittens-title: available kittens
available-kittens-body:
  We're sorry, we don't have any available kittens at this time.
  Please check back with us in February and March.
available-kittens-picture:
  The babies are here! Born August 18. Available to go home
  November 10, 2020.
available-kittens: []
deposit: 500
shipping-title: SHIPPING TEMPORARILY SUSPENDED
shipping-body:
  PetSafe shipping has been suspended due to Covid-19. We'll update you
  once the situation changes.
litter-img: ''
litter-img-alt: ''
---

<!-- Landing Page -->
<header style="background-image: url('{{ page.bg-img }}');">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="heading">{{ page.heading }}</h1>
        <h4 class="subheading">{{ page.subheading }}</h4>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col">
        <h4 class="subheading">
          Email us at
          <a href="mailto:{{ site.email }}">{{ site.email }}</a> for more
          information, or <a href="#contact">contact us</a> right here.
        </h4>
      </div>
    </div>
  </div>
</header>

<!-- Available Kittens Section -->
<section id="available-kittens">
  <div class="container">
    <div class="row mt-5">
      <div class="col text-center">
        <h2 class="section-heading bold">{{ page.available-kittens-title }}</h2>
        <h3 class="section-body">{{ page.available-kittens-body }}</h3>
      </div>
    </div>
    {% if page.litter-img != '' %}
    <div class="row mt-4 mb-6">
      <div class="col text-center">
        <img
          src="{{ site.baseurl }}{{ page.litter-img }}"
          alt="{{ page.litter-img-alt }}"
          class="img-fluid"
        />
      </div>
    </div>
    {% endif %}

    <div class="row">
      {% for kitten in page.available-kittens %}
      <div class="col-md-4 col-sm-6 text-center">
        <div class="mb-6">
          {% if kitten.reserved %}
          <h4 class="title mb-4 text-capitalize">
            {{ kitten.name }} (Reserved)
          </h4>
          {% else %}
          <h4 class="title mb-4 text-capitalize">{{ kitten.name }}</h4>
          {% endif %}
          <img
            src="{{ site.baseurl }}{{ kitten.img }}"
            class="img-fluid mb-4"
            alt="Kitten"
          />
          <p class="caption">
            {{ kitten.description }}<br />${{ kitten.cost }}+tax/${{
            page.deposit}} deposit.
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Shipping Section -->
<section id="shipping" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="section-heading bold">{{ page.shipping-title }}</h2>
        <p class="section-body">{{ page.shipping-body }}</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <a
          href="https://www.united.com/ual/en/us/fly/travel/animals/petsafe.html"
          target="_blank"
          class="btn btn-xl btn-default-bg-light-gray"
          >find out more</a
        >
      </div>
    </div>
  </div>
</section>
