---
permalink: '/'
layout: home
heading: Katy, Texas Ragdolls
subheading: Pedigreed Traditional & Mink Ragdoll Kittens.
hero-section-img-grid:
  img-1: '/uploads/2020/img_1312.webp'
  img-1-alt: A kitten lying on a blanket
  img-2: '/uploads/2021/20200922_134457-1.jpg'
  img-2-alt: A kitten on a sofa
  img-3: '/uploads/2020/20200310_145133-1.jpg'
  img-3-alt: A kitten
  img-4: '/assets/img/fur-ever-homes/3.webp'
  img-4-alt: Cloe & Patricia from Kema, Texas
  img-5: '/uploads/2022/20210916_131709-1.jpg'
  img-5-alt: Three kittens lounging
  img-6: '/assets/img/fur-ever-homes/17.webp'
  img-6-alt: Skyla & Chris with their new family
  img-7: '/uploads/2021/20210414_225048-1.jpg'
  img-7-alt: Three kittens
  img-8: '/uploads/2022/20210910_134232-1.jpg'
  img-8-alt: Several kittens playing
  img-9: '/uploads/2022/20210914_181002-1.jpg'
  img-9-alt: Two kittens cuddling
available-kittens-title: Available Kittens
deposit: 500
shipping-title: Shipping Temporarily Suspended
shipping-body:
  PetSafe shipping has been suspended due to Covid-19. We'll update you
  once the situation changes.
gallery-title: Photo Gallery
gallery:
  - path: '/uploads/2022/20210910_134232-1.jpg'
    caption: Oopsie 2021
  - path: '/uploads/2022/img_20210903_115555_743-1.jpg'
    caption: 'Lone Star 2021: Tara'
  - path: '/uploads/2022/20210821_130938-1.jpg'
    caption: 'Lone Star 2021: Dallas'
  - path: '/uploads/2022/20210916_131709-1.jpg'
    caption: 'Homeward Bound 2021: Boston, Indiana, Kylie'
  - path: '/uploads/2021/20201010_145534-1.jpg'
    caption: 'Wedded Bliss: Zaya'
  - path: '/uploads/2021/20201004_114734-1.jpg'
    caption: 'Wedded Bliss: Skyla'
  - path: '/uploads/2021/20200922_201255-1.jpg'
    caption: 'Wedded Bliss: Kaden'
  - path: '/uploads/2021/20200922_134457-1.jpg'
    caption: 'Wedded Bliss: Chris'
  - path: '/uploads/2021/20200906_164802-1.jpg'
    caption: 'Wedded Bliss: Amanda & Skyla'
  - path: '/uploads/2021/20201007_231522-1.jpg'
    caption: 'Wedded Bliss: Libby & Jack'
  - path: '/uploads/2021/20200302_222354.jpg'
    caption: 'Jedi 2020: Malla'
  - path: '/uploads/2021/20200323_101832.jpg'
    caption: 'Jedi 2020: Leia'
  - path: '/uploads/2021/20200407_122421.jpg'
    caption: 'Jedi 2020: Shmi'
  - path: '/uploads/2021/20200401_115152.jpg'
    caption: 'Jedi 2020: Rose'
  - path: '/uploads/2021/20200227_115636.jpg'
    caption: 'Jedi 2020: Padme'
  - path: '/uploads/2021/20200224_111623.jpg'
    caption: 'Jedi 2020: Binks'
  - path: '/uploads/2021/20200222_152442.jpg'
    caption: 'Jedi 2020: Anakin'
  - path: '/assets/img/home/gallery/19.webp'
    caption: 'Summer 2019: Summer'
  - path: '/assets/img/home/gallery/18.webp'
    caption: 'Summer 2019: Kyra'
  - path: '/assets/img/home/gallery/20.webp'
    caption: 'Summer 2019: Dayton'
  - path: '/assets/img/home/gallery/21.webp'
    caption: 'Summer 2019: Idalia & Kyra'
  - path: '/assets/img/home/gallery/22.webp'
    caption: 'Summer 2019: Ray'
  - path: '/assets/img/home/gallery/23.webp'
    caption: 'Summer 2019: Dayton'
  - path: '/assets/img/home/gallery/24.webp'
    caption: 'Summer 2019: Beckett'
  - path: '/assets/img/home/gallery/25.webp'
    caption: 'Summer 2019: Kai'
  - path: '/assets/img/home/gallery/14.webp'
    caption: 'Fall 2018: Keith & Glenda'
  - path: '/assets/img/home/gallery/15.webp'
    caption: 'Fall 2018: Todd, Keith & Glenda'
  - path: '/assets/img/home/gallery/16.webp'
    caption: 'Fall 2018: Bryan & Todd'
  - path: '/assets/img/home/gallery/17.webp'
    caption: 'Fall 2018: Glenda, Keith & Luke'
  - path: '/assets/img/home/gallery/1.webp'
    caption: Princess Patience & Sir Glenn
  - path: '/assets/img/home/gallery/6.webp'
    caption: Princess Patience
  - path: '/assets/img/home/gallery/4.webp'
    caption: Sir Glenn
  - path: '/assets/img/home/gallery/3.webp'
    caption: Sir Glenn
  - path: '/assets/img/home/gallery/26.webp'
    caption: In Loving Memory of Cyrus 2019
  - path: '/assets/img/home/gallery/11.webp'
    caption: In Loving Memory of Lil' Wayne 2018
kitten-deposit-title: Kitten Deposit
available-kittens-gallery:
  - litter-title: Peace, Love & Mermaids
    available-kittens:
      - name: Dylan
        reserved: false
        description: Male Blue Point Mitted
        cost: 1450
        img: '/uploads/2022/dylan.JPG'
      - name: Caspian
        reserved: false
        description: Male Seal Point Mitted
        cost: 1450
        img: '/uploads/2022/caspian.JPG'
      - name: Sebastian
        reserved: false
        description: Male Seal Point Mitted
        cost: 1450
        img: '/uploads/2022/sebastian.JPG'
      - name: Eric
        reserved: false
        description: Male Seal Point Mitted
        cost: 1450
        img: '/uploads/2022/eric.JPG'
  - litter-title: Mardi Gras 2022
    available-kittens:
      - name: Louie
        reserved: true
        description: Male Blue Point
        cost: 1450
        img: '/uploads/2022/louie.JPG'
      - name: Marquis
        reserved: false
        cost: 1450
        img: '/uploads/2022/marquis.JPG'
        description: Male Seal Point Mitted
available-kittens-text-img-pair:
  - text: 'Patience x Glenn: due April 23'
    img: '/uploads/2022/1584047949590.jpg'
available-adults-title: Available Adults
available-adults: []
---

<!-- Hero Section -->
<section id="hero-section">
  <div class="heading">
    <h1>{{ page.heading }}</h1>
    <h2>{{ page.subheading }}</h2>
  </div>
  <div class="grid">
    {% for i in (1..9) %}
    <div class="img-container img-container-{{ i }}">
      {% capture img %}img-{{i}}{% endcapture %} {% capture img-alt
      %}img-{{i}}-alt{% endcapture %}
      <img
        class="img-{{ i }}"
        src="{{ page.hero-section-img-grid[img] }}"
        alt="{{ page.hero-section-img-grid[img-alt] }}"
      />
    </div>
    {% endfor %}
  </div>
</section>

<!-- Available Kittens Section -->
<section id="available-kittens" class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-heading text-center">
          {{ page.available-kittens-title }}
        </h2>
      </div>
    </div>
    {% for pair in page.available-kittens-text-img-pair %}
    <div class="row justify-content-center mb-6">
      <div class="col col-lg-6">
        <p class="section-body my-0">{{ pair.text }}</p>
        <div class="col text-center">
          {% if pair.img != '' %}
          <img
            src="{{ pair.img }}"
            alt="{{ pair.text }}"
            class="img-fluid rounded mt-5 border-box-shadow"
          />
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %} {% for gallery in page.available-kittens-gallery %} {% if
    gallery.litter-title != '' %}
    <div class="row">
      <div class="col text-center">
        <h2 class="litter-title">{{ gallery.litter-title }}</h2>
      </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
      {% for kitten in gallery.available-kittens %}
      <div class="col-12 col-lg-6 text-center mt-4 mb-5 mb-lg-6">
        {% if kitten.reserved %}
        <h4 class="title mt-0 mb-4">{{ kitten.name }} ‧ Reserved</h4>
        {% else %}
        <h4 class="title mt-0 mb-4">{{ kitten.name }}</h4>
        {% endif %}
        <img
          src="{{ kitten.img }}"
          class="img-fluid rounded mb-4 border-box-shadow"
          alt="{{ kitten.description }}"
        />
        <p class="caption mb-0">
          {% if kitten.description != ''%} {{ kitten.description }}<br />
          {% endif %} ${{ kitten.cost }} / ${{ page.deposit}} deposit
        </p>
        <hr class="d-lg-none mt-5 mt-lg-6" />
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>

<!-- Available Adults Section -->
{% if page.available-adults.size > 0 %}
<section id="available-adults" class="pt-6 pb-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-heading text-center">
          {{ page.available-adults-title }}
        </h2>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      {% for adult in page.available-adults %}
      <div class="col-12 col-lg-6 text-center mb-5 mb-lg-6">
        {% if adult.reserved %}
        <h4 class="title mt-0 mb-4">{{ adult.name }} ‧ Reserved</h4>
        {% else %}
        <h4 class="title mt-0 mb-4">{{ adult.name }}</h4>
        {% endif %}
        <img
          src="{{ adult.img | relative_url}}"
          class="img-fluid rounded mb-4 border-box-shadow"
          alt="{{ adult.description }}"
        />
        <p class="caption mb-0">
          {% if adult.description != ''%} {{ adult.description }}<br />
          {% endif %} ${{ adult.cost }} / ${{ page.deposit}} deposit
        </p>
        <hr class="d-lg-none mt-5 mt-lg-6" />
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<div class="container d-none d-lg-block">
  <hr class="mb-6" />
</div>

<!-- Kitten Deposit Section -->
<section id="kitten-deposit" class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-heading text-center">
          {{ page.kitten-deposit-title }}
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="section-body mt-0 mb-4">
          A ${{ page.deposit }} deposit will reserve your kitten until they are
          ready to go to their fur-ever home at 12 weeks.
        </p>
      </div>
    </div>

    {% for gallery in page.available-kittens-gallery %} {% if forloop.first %}
    {% assign available-kittens = gallery.available-kittens %} {% else %} {%
    assign available-kittens = available-kittens | concat:
    gallery.available-kittens %} {% endif %} {% endfor %} {% assign
    unreserved-kittens = available-kittens | where: "reserved", false %} {% if
    page.available-kittens-gallery.size == 0 %}
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <hr />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="section-body mt-4">
          Please <a href="#contact"><strong>contact us</strong></a> to find out
          more about our upcoming litters.
        </p>
      </div>
    </div>

    {% elsif page.available-kittens-gallery.size != 0 and
    unreserved-kittens.size == 0 %}
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <hr />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="section-body mt-4">
          We're sorry, all of our kittens have been reserved!
        </p>
      </div>
    </div>

    {% else %}
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <hr />
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="form-group col col-lg-6">
        <label for="select-deposit-option" class="section-body mb-3"
          >Select the kitten you would like to reserve:</label
        >
        <select class="form-control section-body" id="select-deposit-option">
          <option value="" class="section-body">Select a kitten:</option>
          {% for kitten in unreserved-kittens %}
          <option value="{{ kitten.name }}" class="section-body">
            {{ kitten.name }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div
      class="no-kitten-selected-alert row justify-content-center hidden"
      role="alert"
    >
      <div class="col col-lg-6">
        <div class="no-kitten-selected-alert--text">
          Please select a kitten.
        </div>
      </div>
    </div>

    <template class="deposit-confirmation--template"
      ><section class="deposit-confirmation">
        <h3 class="deposit-confirmation--title">Deposit Confirmation</h3>
        <p style="margin-bottom: 0">
          Thank you,
          <span class="deposit-confirmation--payer-name"></span>.
        </p>
        <p>
          We have received your reservation for
          <span class="deposit-confirmation--deposit-option"></span>.
        </p>
      </section></template
    >

    <!-- PayPal Smart Buttons -->
    <div class="row justify-content-center mt-5">
      <div id="smart-button-container" class="col col-lg-6">
        <div style="text-align: center">
          <div id="paypal-button-container"></div>
        </div>
      </div>
      <script
        src="https://www.paypal.com/sdk/js?client-id=AcTyn-LfmJLGLfRyvuyExAAivIVsD-WqkX1wWCQFON_CkecIBU5e_sxlJizdWi6AoCSsFBh5IFfRGG7J&currency=USD"
        data-sdk-integration-source="button-factory"
      ></script>
      <script>
        var depositCost = '{{ page.deposit }}';
        var depositOption = document.getElementById(
          'select-deposit-option'
        ).value;

        document
          .getElementById('select-deposit-option')
          .addEventListener('change', (event) => {
            depositOption = event.target.value;
            if (depositOption !== '')
              document
                .querySelector('.no-kitten-selected-alert')
                .classList.add('hidden');
          });

        function initPayPalButton() {
          paypal
            .Buttons({
              style: {
                shape: 'rect',
                color: 'gold',
                layout: 'vertical',
                label: 'pay',
              },

              createOrder: function (data, actions) {
                if (depositOption === '') throw new Error('No kitten selected');

                return actions.order.create({
                  purchase_units: [
                    {
                      description: `Kitten deposit—${depositOption}`,
                      amount: {
                        currency_code: 'USD',
                        value: depositCost,
                      },
                    },
                  ],
                  application_context: {
                    shipping_preference: 'NO_SHIPPING',
                  },
                });
              },

              onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                  var buttonContainer = document.getElementById(
                    'paypal-button-container'
                  );
                  var template = document.querySelector(
                    '.deposit-confirmation--template'
                  );
                  var clone = template.content.cloneNode(true);

                  clone.querySelector(
                    '.deposit-confirmation--payer-name'
                  ).textContent = details.payer.name.given_name;
                  clone.querySelector(
                    '.deposit-confirmation--deposit-option'
                  ).textContent = depositOption;

                  buttonContainer.innerHTML = '';
                  buttonContainer.appendChild(clone);
                });
              },

              onError: function (error) {
                if (error.message === 'No kitten selected')
                  document
                    .querySelector('.no-kitten-selected-alert')
                    .classList.remove('hidden');
              },
            })
            .render('#paypal-button-container');
        }
        initPayPalButton();
      </script>
    </div>
    {% endif %}
  </div>
</section>

<!-- Shipping Section -->
<section id="shipping" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="section-heading">{{ page.shipping-title }}</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="section-body">{{ page.shipping-body }}</p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 text-center">
      <a
        href="https://www.united.com/ual/en/us/fly/travel/animals/petsafe.html"
        target="_blank"
        class="btn btn-xl btn-default-bg-light-gray"
        >find out more</a
      >
    </div>
  </div>
</section>

<!-- Photo Gallery -->
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="section-heading">{{ page.gallery-title }}</h2>
      </div>
    </div>
  </div>

  <div
    id="{{ page.gallery-title | slugify }}-carousel"
    class="carousel slide mx-auto"
    data-ride="carousel"
  >
    <div class="carousel-inner text-center">
      {% for image in page.gallery %} {% if forloop.first %}
      <div class="carousel-item active">
        <img
          src="{{ image.path }}"
          alt="{{ image.caption }}"
          class="img-fluid"
        />
        {% if image.caption != '' %}
        <div class="carousel-caption">
          <h3 class="mb-0">{{ image.caption }}</h3>
        </div>
        {% endif %}
      </div>
      {% else %}
      <div class="carousel-item">
        <img
          src="{{ image.path }}"
          alt="{{ image.caption }}"
          class="img-fluid"
        />
        {% if image.caption != '' %}
        <div class="carousel-caption">
          <h3 class="mb-0">{{ image.caption }}</h3>
        </div>
        {% endif %}
      </div>
      {% endif %} {% endfor %}
    </div>
    <a
      class="carousel-control-prev"
      href="#{{ page.gallery-title | slugify }}-carousel"
      role="button"
      data-slide="prev"
      ><div>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </div>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#{{ page.gallery-title | slugify }}-carousel"
      role="button"
      data-slide="next"
    >
      <div>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </div>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
