<section id="available-kittens">
  <div class="container">
    {% include section-heading.html heading="wedded bliss 2020" subheading="The
    babies are here! Born August 18th. Available to go home November 10th,
    2020."%}
    <div class="row mb-5">
      <img
        src="{{ site.baseurl }}/assets/img/available-kittens/litter.webp"
        alt=""
        class="img-default"
      />
    </div>
    <div class="row">
      {% for cat in site.data.available-kittens %}
      <div class="col-sm-4">
        <div class="team-member available-kitten">
          {% if cat.reserved %}
          <h4>{{ cat.name }} (Reserved)</h4>
          {% else %}
          <h4>{{ cat.name }}</h4>
          {% endif %}
          <img
            src="{{ site.baseurl }}/assets/img/available-kittens/{{ cat.pic }}.webp"
            class="img-responsive img-default"
            alt=""
          />
          <p class="text-muted">{{ cat.description }}</p>
          <p class="text-muted">
            ${{ cat.cost }}+tax/${{ cat.deposit}} deposit.
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
