{% capture heading %} {{ site.data.available-kittens.heading }} {% endcapture %}
{% capture subheading %} {{ site.data.available-kittens.subheading }} {%
endcapture %}

<section id="available-kittens">
  <div class="container">
    {% include section-heading.html heading=heading subheading=subheading %}
    <div class="row mt-4 mb-6">
      <img
        src="{{ site.baseurl }}/assets/img/available-kittens/litter.webp"
        alt=""
        class="img-fluid img-default"
      />
    </div>
    <div class="row">
      {% for kitten in site.data.available-kittens.kittens %}
      <div class="col-md-4 col-sm-6">
        <div class="team-member available-kitten">
          {% if kitten.reserved %}
          <h4>{{ kitten.name }} (Reserved)</h4>
          {% else %}
          <h4>{{ kitten.name }}</h4>
          {% endif %}
          <img
            src="{{ site.baseurl }}/assets/img/available-kittens/{{ kitten.img }}"
            class="img-fluid img-default"
            alt=""
          />
          <p class="text-muted">{{ kitten.description }}</p>
          <p class="text-muted">
            ${{ kitten.cost }}+tax/${{ kitten.deposit}} deposit.
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
