<!-- Portfolio Modals -->
{% for family in site.data.families %}
<div
  class="portfolio-modal modal"
  id="{{ family.pic }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="modal-body">
          <div>
            <div class="family-heading">
              <h2>{{ family.title }}</h2>
              <div class="flex-center">
                <button
                  type="button"
                  class="btn btn-custom"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#{{ family.previous }}"
                >
                  <i class="fa fa-arrow-left"></i>
                </button>
                <h3>{{ family.pic }}/12</h3>
                <button
                  type="button"
                  class="btn btn-custom"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#{{ family.next }}"
                >
                  <i class="fa fa-arrow-right"></i>
                </button>
              </div>
            </div>
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
          </div>
          <hr class="hr-dark" />
          <div class="image-container flex-center">
            <img
              src="{{ site.baseurl }}/assets/img/fur-ever-homes/{{ family.img }}"
              class="img-responsive img-centered"
              alt="{{family.title }}"
            />
          </div>
          <div class="modal-nav-mobile flex-center">
            <button
              type="button"
              class="btn btn-custom"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#{{ family.previous }}"
            >
              <i class="fa fa-arrow-left"></i>
            </button>
            <h4 class="family-heading-text-mobile">{{ family.title }}</h4>
            <button
              type="button"
              class="btn btn-custom"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#{{ family.next }}"
            >
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
          <h3 class="family-subtitle section-subheading"></h3>
            {{ family.subtitle }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
