<footer>
  <div class="container text-center">
    <img
      src="{{ site.logo }}"
      alt="KTDolls: Purrfectly Spoiled"
      height="100"
      class="d-block mx-auto mb-4"
    />
    <span class="copyright"
      >Copyright &copy; 2017-{{ 'now' | date: "%Y" }} KTDolls. All rights
      reserved.
    </span>
    <p class="section-body mb-0">
      Website developed by
      <a href="https://christopherstraub.me/"
        ><strong>Christopher Straub</strong></a
      >.
    </p>
  </div>
</footer>
