<footer>
  <div class="container text-center">
    {% include picture.html path=site.logo alt="KTDolls: Purrfectly Spoiled"
    class="d-block mx-auto mb-4" %}
    <span class="copyright"
      >Copyright &copy; 2017-{{ 'now' | date: "%Y" }} KTDolls. All rights
      reserved.
    </span>
    <p class="section-body mb-0">
      Website developed by
      <a href="https://www.linkedin.com/in/christophercstraub/"
        ><strong>Christopher Straub</strong></a
      >.
    </p>
  </div>
</footer>
