<header>
  <div class="container-fluid fill-height">
    <div class="row">
      <div class="col-lg-12 align-self-start intro-text">
        <div class="intro-lead-in">Family-owned cattery from Katy, Texas.</div>
        <div class="intro-lead-in">
          Pedigreed Traditional and Mink Ragdoll kittens for sale.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 align-self-end cta-area">
        <div class="h3">
          <a href="mailto:{{ site.email }}">Email us</a> at {{ site.email }} for
          more information, or <a href="#contact">contact us</a> right here.
        </div>
      </div>
    </div>
  </div>
</header>
