<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="heading">Family-owned cattery from Katy, Texas.</h1>
        <h4 class="subheading">
          Pedigreed Traditional and Mink Ragdoll kittens for sale.
        </h4>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col">
        <h4 class="subheading">
          <a href="mailto:{{ site.email }}">Email us</a> at {{ site.email }} for
          more information, or <a href="#contact">contact us</a> right here.
        </h4>
      </div>
    </div>
  </div>
</header>
