<!-- Header -->
<header>
  <div class="container-fluid fill-height">
    <div class="row">
      <div class="col-lg-12 align-self-start intro-text">
        <div class="intro-lead-in">
          Family-owned cattery from Katy, Texas.
          <br />
          Pedigreed Traditional and Mink Ragdoll kittens for sale.
          <br />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 align-self-end cta-area">
        <div class="h3">
          Email us at ktdolls2017@gmail.com for more information.
        </div>
        <a href="#contact" class="page-scroll btn btn-xl">email</a>
      </div>
    </div>
  </div>
</header>
