<section>
  <div class="container">
    {% include section-heading.html heading="queens and kings" %}
    <div class="row">
      {% for cat in site.data.queens-and-kings %}
      <div class="col-sm-4">
        <div class="team-member">
          <h4>{{ cat.name }}</h4>
          <img
            src="{{ site.baseurl }}/assets/img/queens-and-kings/{{ cat.pic }}.webp"
            class="img-responsive img-default"
            alt=""
          />
          <p class="text-muted">{{ cat.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
