<!-- Shipping Section -->
<section id="shipping">
  <div class="container">
    {% include section-heading.html heading="shipping temporarily suspended"
    subheading="PetSafe shipping has been suspended due to Covid-19." %}
    <div class="row">
      <div class="col-lg-12 text-center">
        <img
          class="img-fluid united-petsafe-logo"
          src="assets/img/shipping/united-petsafe.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <a
          href="https://www.united.com/ual/en/us/fly/travel/animals/petsafe.html"
          class="btn btn-xl united-petsafe-btn"
          >find out more</a
        >
      </div>
    </div>
  </div>
</section>
