<section id="social" class="bg-light-gray">
  <div class="container">
    {% include section-heading.html heading="social" subheading="Follow us on
    Facebook and Instagram!" %}

    <div class="row">
      <div class="col-lg-12 text-center">
        <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}" class="{{ network.title }}-btn"
              ><i class="fa fa-{{ network.title }}"></i
            ></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
