{% if include.bg-light-gray %}
<section id="social" class="bg-light-gray">
  {% else %}
  <section id="social">
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="section-heading text-center">Social</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-lg-6">
          <p class="section-body text-center">
            Follow us on Facebook and Instagram!
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-12 text-center">
          <ul class="list-inline social-buttons">
            {% for network in site.social %}
            <li>
              <a
                href="{{ network.url }}"
                target="_blank"
                class="{{ network.title | downcase }}-btn"
                title="Our {{ network.title | capitalize }}"
                ><i class="fa fa-{{ network.title | downcase }}"></i
              ></a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>
