---
---

$clr-primary: {{ site.data.theme.colors.primary }};
$clr-secondary: {{ site.data.theme.colors.secondary }};
$clr-subheading: {{ site.data.theme.colors.subheading }};
$clr-body: {{ site.data.theme.colors.body }};

$font-secondary: {{ site.data.theme.fonts.secondary }}, {{ site.data.theme.fonts.backup }}, {{ site.data.theme.fonts.backup }};

// Functional classes.
@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';
@import 'base/functional';

// Components.
@import 'components/photo-grid';
@import 'components/buttons';

// Layout.
@import 'layout/families';
@import 'layout/header';
@import 'layout/nav-background';
@import 'layout/nav';
@import 'layout/past-litters';
@import 'layout/shipping';
@import 'layout/social';
