---
---

$clr-primary: {{ site.data.theme.colors.primary }};
$clr-secondary: {{ site.data.theme.colors.secondary }};
$clr-dark-accent: {{ site.data.theme.colors.dark-accent }};
$clr-dark: {{ site.data.theme.colors.dark }};

$font-primary: {{ site.data.theme.fonts.primary }}, {{ site.data.theme.fonts.backup }};
$font-secondary: {{ site.data.theme.fonts.secondary }}, {{ site.data.theme.fonts.backup }};
$font-nav: {{ site.data.theme.fonts.nav }}, {{ site.data.theme.fonts.backup }};
$font-logo: {{ site.data.theme.fonts.logo }}, {{ site.data.theme.fonts.backup }};

// Functional classes.
@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';
@import 'base/functional';

// Components.
@import 'components/photo-grid';
@import 'components/buttons';

// Layout.
@import 'layout/families';
@import 'layout/header';
@import 'layout/nav-background';
@import 'layout/nav';
@import 'layout/past-litters';
@import 'layout/social';
