{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{{ content }}

.united-petsafe-logo{
  width: 500px;
  max-width: 75vw;
}

.facebook-btn{
  background-color: #1877F2 !important;
}

.facebook-btn:hover, .instagram-btn:hover{
  opacity: .6;
}

.instagram-btn{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.image-section .btn{
  background-color: white;
  border-radius: 50%;
  transition: all .3s;
}

.image-section .btn:hover{
  background-color: black;
}

.image-section .btn i{
  color: black;
  padding: 5px;
  font-size: 3.5rem;
}

.image-section .btn i:hover{
  color: white;
}

.image-section{
  display: flex;
  align-items: center;
  justify-content: center;
}