{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{{ content }}

/* Header */
.nav.navbar-nav.navbar-right li a{
  font-size: 2rem;
}

@media only screen and (max-width: 1069px){
  .nav.navbar-nav.navbar-right li a{
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 999px){
  .nav.navbar-nav.navbar-right li a{
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 929px){
  .nav.navbar-nav.navbar-right li a{
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 859px){
  .nav.navbar-nav.navbar-right li a{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 788px){
  .nav.navbar-nav.navbar-right li a{
    font-size: 1.1rem;
  }
}

.navbar-brand{
  padding-left: 75px;
}

.collapse.navbar-collapse{
  padding-right: 75px;
}

@media only screen and (max-width: 1300px){
  .navbar-brand{
    padding-left: 25px;
  }
  
  .collapse.navbar-collapse{
    padding-right: 25px;
  }
}

/* Shipping */
.united-petsafe-logo{
  width: 500px;
  max-width: 75vw;
}

/* Social */
.facebook-btn{
  background-color: #1877F2 !important;
}

.facebook-btn:hover, .instagram-btn:hover{
  opacity: .6;
}

.instagram-btn{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

/* Families */
.family-heading{
  padding: 0 55px;
}

.family-heading h3{
  margin: 0 25px;
}

.modal-body .image-container img{
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
}

.family-heading-text-mobile{
  display: none;
}

.modal-nav-mobile .btn-custom{
  display: none;
}

/* Custom Classes */
.btn-custom{
  font-size: 3rem;
  padding: 4px 12px;
  color: #{{ site.data.template.color.secondary-dark }};
  background-color: white;
  border-color: #{{ site.data.template.color.secondary-dark }};
  border-radius: 50%;
  transition: all .3s;
}

.btn-custom:hover{
  color: white;
  background-color: #{{ site.data.template.color.secondary-dark }};
}

/* Functional Classes */
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr-dark{
  border-top: 1px solid #{{ site.data.template.color.secondary-dark }};
}

/* Families Media Queries */
@media only screen and (max-width: 768px) {
  .portfolio-modal .modal-content img {
      margin-top: 70px;
  }

  .family-heading, .modal-content hr{
    display: none;
  }

  .portfolio-modal .close-modal{
    top: 0;
  }

  .family-heading-text-mobile{
    display: block;
    margin: 0 15px;
  }

  .btn-custom{
    font-size: 2.2rem;
    padding: 4px 10px;
  }

  .modal-nav-mobile{
    margin-bottom: 15px;
  }

  .modal-nav-mobile .btn-custom{
    display: inline-block;
  }
}

/* Seamless Responsive Photo Grid */
.gallery{
  /* background-color: lightblue; */
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;  
}

.gallery img{
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}
@media (max-width: 1200px) {
  .gallery {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}