#map {
  height: 350px;
}

@media only screen and (min-width: 768px) {
  #map {
    height: 400px;
  }
}

@media only screen and (min-width: 1367px) {
  #map {
    height: 500px;
  }
}

body section:first-of-type#contact {
  padding-top: calc(75px + 60px);
}

@media only screen and (min-width: 768px) {
  section#contact,
  body section:first-of-type#contact {
    padding: 50px 0;
  }
}

.contact-info .subheading,
.contact-info .subheading a {
  font-weight: normal;
  font-family: $font-primary;
  text-transform: none;
  color: white;
  line-height: 1.2;
  font-size: 22px;
}

@media only screen and (min-width: 768px) {
  .contact-info .subheading,
  .contact-info .subheading a {
    font-size: 24px;
  }
}
