header {
  position: relative;
  text-align: center;
  color: #fff;
  background-attachment: scroll;

  /* uiGradients 80's Purple */
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f0743,
    #41295a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f0743,
    #41295a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-position: 50% 13%;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media only screen and (min-width: 768px) {
  header {
    margin: 0 16px;
    border-radius: 10px;
  }
}

header a {
  color: white;
  font-weight: bold;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: white;
  }
}

header > .container-fluid {
  padding: 0 2rem;
}

@media only screen and (min-width: 768px) {
  header > .container-fluid {
    padding: 0 4rem;
  }
}

header .heading,
header .subheading {
  font-family: $font-secondary;
  text-transform: none;
  font-weight: normal;
}

header .heading {
  font-size: 32px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  header .heading {
    margin-bottom: 20px;
  }
}

header .subheading {
  font-size: 20px;
  line-height: 1.2;
}

header .heading {
  padding-top: 80px;
}

header .heading + .subheading {
  margin-bottom: 175px;
}

header .subheading:first-child {
  cursor: default;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(black, 0.25);
  transition: background-color 0.15s;

  &:hover {
    background-color: rgba(black, 0.5);
  }
}

@media only screen and (min-width: 768px) {
  header .heading {
    font-size: 52px;
  }

  header .subheading {
    font-size: 32px;
  }

  header .heading {
    padding-top: 50px;
  }

  header .heading + .subheading {
    margin-bottom: 400px;
  }
}

header .fa-arrow-down {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  color: $clr-primary;
  font-size: 6rem;
  transform: translateX(-50%);
  bottom: -8rem;
  transition: color 0.15s;

  &:hover {
    color: $clr-secondary;
  }
}
