.cta-area {
  padding-bottom: 40px;
}

header {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url('../img/header-bg.jpg');
  background-position: center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .intro-text {
  padding-top: 120px;
  padding-bottom: 166px;
}

@media only screen and (min-width: 768px) {
  header {
    margin: 0 16px;
    border-radius: 10px;
  }

  header .intro-text {
    padding-top: 75px;
    padding-bottom: 450px;
  }
}

header .intro-lead-in:nth-child(1) {
  margin-bottom: 0px;
}

header .intro-lead-in:nth-child(2) {
  font-size: 24px;
}

header a {
  color: white;
  font-weight: bold;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: white;
  }

  &:focus,
  &:active,
  &.active {
    text-decoration: none;
  }
}
