.navbar-nav {
  flex-direction: column;
}

.nav > li > a {
  font-size: 18px;
}

.navbar-nav > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
}

// Media queries.
@media only screen and (min-width: 768px) {
  .navbar-nav {
    flex-direction: row;
  }

  .nav > li > a {
    font-size: 16px;
    padding: 10px 10px;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .nav > li > a {
    font-size: 16px;
    padding: 10px 15px;
  }

  .navbar-nav > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
  }
}
@media only screen and (min-width: 1200px) {
  .nav > li > a {
    font-size: 20px;
  }
}
