.nav-background {
  height: 0;
}
//76
@media (min-width: 768px) {
  .nav-background {
    height: 66px;
  }
}

@media (min-width: 992px) {
  .nav-background {
    height: 71px;
  }
}

@media (min-width: 1200px) {
  .nav-background {
    height: 73px;
  }
}

@media (min-width: 1400px) {
  .nav-background {
    height: 74px;
  }
}
