.navbar-default .nav-container {
  padding: 0;
}

.navbar-default .navbar-nav {
  flex-direction: column;
}

.navbar-default .nav li a {
  color: #222;
  font-size: 18px;
  padding: 12px 15px;
}

.navbar-default .nav li a:hover,
.navbar-default.navbar-shrink .nav li a:hover {
  outline: 0;
  color: white;
  background-color: $clr-secondary;
}

.navbar-default .navbar-brand {
  padding: 22px 0;
  margin: 0 0 0 47px;
}

// Media queries.
@media only screen and (min-width: 576px) {
  .navbar-default .nav li a {
    border-radius: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-default .navbar-nav {
    flex-direction: row;
  }

  // Mimic container-fluid
  .navbar-default .nav-container {
    min-width: 100%;
  }

  .navbar-default .nav li a {
    font-size: 13px;
    padding: 22px 7px;
    letter-spacing: 0px;
  }

  .navbar-default.navbar-shrink .nav li a {
    color: white;
  }

  .navbar-default .nav li a:hover,
  .navbar-default.navbar-shrink .nav li a:hover {
    color: $clr-secondary;
    background-color: transparent;
  }

  .navbar-default.navbar-shrink .nav li a:hover {
    color: white;
    background-color: $clr-secondary;
  }

  .navbar-default .navbar-brand {
    font-size: 26px;
    padding-left: 0px;
  }

  .navbar-default.navbar-shrink .navbar-brand {
    color: white;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-default .nav li a {
    font-size: 18px;
  }

  .navbar-default .navbar-brand {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar-default .nav li a {
    font-size: 20px;
    padding: 22px 15px;
  }

  .navbar-default .navbar-brand {
    font-size: 36px;
    margin-left: 32px;
  }
}

@media only screen and (min-width: 1600px) {
  // Center nav
  .navbar-default .navbar-collapse {
    text-align: center;
  }

  .navbar-default .navbar-nav {
    float: none !important;
    display: inline-block;
  }
  // End center nav

  .navbar-default .nav li a {
    font-size: 20px;
    letter-spacing: 0px;
  }
}
