#past-litters .section-heading {
  display: inline-block;
}

#past-litters .litter-section {
  padding-top: 100px;
}

#past-litters .section-heading + .section-body {
  margin-bottom: -75px;
}

#past-litters a .section-heading:hover {
  color: $clr-secondary;
}

#past-litters a .section-heading {
  transition: 0.2s ease color;
}

#past-litters .carousel .carousel-item > img {
  max-height: 450px;
  max-width: 650px;
}

@media only screen and (min-width: 768px) {
  #past-litters .carousel .carousel-item > img {
    max-height: 600px;
  }
}
