#past-litters .litter-title {
  display: inline-block;
}

#past-litters .litter-section {
  padding-top: 75px;
}

#past-litters .section-heading.below-hr + .section-body {
  margin-bottom: -50px;
}

#past-litters a .litter-title:hover {
  color: $clr-secondary;
}

#past-litters a .litter-title {
  transition: color 0.15s;
}
