.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border-top: 1px solid transparent;
}

.hr-dark {
  border-top: 1px solid $clr-divider;
}

.img-default {
  margin: 15px auto;
  border-radius: 5px;
  border: 1px solid $clr-muted;
}

.btn-default {
  @include btn-color(white, $clr-primary);
}

.btn-bg-light-gray {
  @include btn-color(#f7f7f7, $clr-primary);
}

.mt-6 {
  margin-top: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.carousel {
  max-width: 650px;

  & .carousel-caption > h3 {
    padding: 15px;
    background-color: black;
  }
}
