.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr-dark {
  // Fallback for browsers that don't support #rrggbbaa hex color notation.
  border-top: 1px solid #777777;
  // Hex code 80 indicates an alpha value of 50%.
  border-top: 1px solid #77777780;
  display: none;
}

@media only screen and (min-width: 768px) {
  .hr-dark {
    display: block;
  }
}

.img-default {
  margin: 15px auto;
  border-radius: 5px;
  border: 1px solid $clr-subheading;
}

.btn-default {
  @include btn-color(white, $clr-primary);
}

.btn-default-bg-light-gray {
  @include btn-color(#f7f7f7, $clr-primary);
}

.mt-6 {
  margin-top: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.carousel {
  max-width: 650px;

  & .carousel-caption > h3 {
    padding: 15px;
    background-color: black;
  }
}

.section-heading {
  color: $clr-primary;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: normal;

  &.bold {
    font-size: 40px;
    font-weight: bold;
    padding-top: 100px;
  }
}

@media (min-width: 768px) {
  .section-heading.bold {
    padding-top: 75px;
  }
}

.section-subheading {
  color: $clr-subheading;
  text-transform: none;
  font-family: $font-primary;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
