@mixin btn-color($color, $background-color, $border-color: $background-color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  &:hover,
  &:focus,
  &:active {
    color: $background-color;
    background-color: $color;
    border-color: $border-color;
  }
}

@mixin font-default(
  $color,
  $font-size,
  $font-weight: normal,
  $font-family: $font-primary
) {
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  text-transform: none;
  font-weight: $font-weight;
  line-height: 1.6;
}
