html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: white;
  color: $clr-dark;
  font-family: $font-primary;
  font-size: 20px;
}

a:hover,
a:focus {
  color: $clr-primary;
}

hr {
  border-top: 1px solid rgba($clr-dark-accent, 0.25);
}

section {
  padding: 75px 0;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 100px 0;
  }

  section#social,
  section#shipping {
    padding: 75px 0;
  }

  section#social {
    margin-bottom: 16px;
  }
}
